<% provide(:title, "About") %>
<h1>About us</h1>
<br>
<div class="row">
            <div class="col-lg-4 col-sm-6 text-center">
                <!--<img class="img-circle img-responsive img-center" src="http://imgur.com/Z5CiPOu" alt="">-->
               <img src="<%=asset_path('ab.jpg')%>" class="img-rounded" width="150" height="150"/>
                <h3>Abdelrahman Gamal <br>
                <small>Student at German University in Cairo</small></h3>
                <h5>abdelrahmangali@gmail.com</h5>
                <br>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <!--<img class="img-circle img-responsive img-center" src="http://imgur.com/KWCJdoD" alt="">-->
                <img src="<%=asset_path('kj.jpg')%>" class="img-rounded" width="150" height="150"/>
                <h3>Khalid Jamal <br>
                <small>Student at German University in Cairo</small></h3>
                <h5>khalid.abdulnasser1@gmail.com</h5>
                <br>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <!--<img class="img-circle img-responsive img-center" src="http://imgur.com/byIBUrf" alt="">-->
                <img src="<%=asset_path('zd.jpg')%>" class="img-rounded" width="150" height="150"/>
                <h3>Zeyad Atef <br>
                    <small>Student at German University in Cairo</small>
                </h3>
                <h5>zeyadahmedatef@gmail.com</h5>
                <br>
            </div>
            
</div>
<div class="row">
            <div class="col-lg-4 col-sm-6 text-center">
                <!--<img class="img-circle img-responsive img-center" src="http://imgur.com/UR7o2FW" alt="">-->
                <img src="<%=asset_path('nd.jpg')%>" class="img-rounded" width="150" height="150"/>
                <h3>Nadim El Miligy <br>
                    <small>Student at German University in Cairo</small>
                </h3>
                <h5>nadim_miligy@hotmail.com</h5>
                <br>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <!--<img class="img-circle img-responsive img-center" src="http://imgur.com/FtjrZTK" alt="">-->
                <img src="<%=asset_path('sh.jpg')%>" class="img-rounded" width="150" height="150"/>
                <h3>Sherief Abdelrazzak <br>
                    <small>Student at German University in Cairo</small>
                </h3>
                <h5>shrfarzk@gmail.com</h5>
                <br>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <!--<img class="img-circle img-responsive img-center" src="http://imgur.com/Mc71Cq3" alt="">-->
                <img src="<%=asset_path('mn.jpg')%>" class="img-rounded" width="150" height="150"/>
                <h3>Menrit Hanna <br>
                    <small>Student at German University in Cairo</small>
                </h3>
                <h5>menrit.moawad@gmail.com</h5>
                <br>
            </div>
            
</div>