<ul class="list-group">
	<div>
		<% @metadata["contents"].each do |key, value| %>
			<li class="list-group-item">
				<% if (key["is_dir"]) %>
					<%= "<span class='glyphicon glyphicon-folder-open'></span> ".html_safe %>
					<%= link_to key["path"][1..-1], dropbox_change_path(path: key["path"]), :remote => true%>
				<%else %>
					<%= "<span class='glyphicon glyphicon-file'></span> ".html_safe %>
					<%= key["path"][1..-1]%>
					<%= link_to "[#{key["size"]} <span class='glyphicon glyphicon-cloud-download'></span>]".html_safe, dropbox_download_path(path: key["path"]), :target => "_blank"%>
				<%end%>
			</li>
		<%end%>
	</div>
</ul>