<% provide(:title, @user.name) %>
<div id="theRed">
	<h1><a href="#" id="username"><%= @user.name %></a></h1>
	<h2><%= "Dropbox Mail "%><br>
	<%=@account_info['email'] %></h2>
</div>


<div class="row">
	<div class="col-xs-3">
		<form class="navbar-form" role="form" accept-charset="UTF-8" action="/users/search" data-remote="true" method="post">
			<div class="form-group">
			<input name="utf8" type="hidden" value="✓">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search" name="query" id="query">
				<span class="input-group-btn">
				<button type="submit" class="btn btn-danger" ><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></span>
			</div>
			</div>
		</form>

		<form class="navbar-form" role="form" accept-charset="UTF-8" action="/users/folder_gdeed" data-remote="true"  method="post">
			<div class="form-group">
			<input name="utf8" type="hidden" value="✓">
			<div class="input-group">	
				<input type="text" class="form-control" placeholder="New Folder Path" name="path" id="path">
				<span class="input-group-btn">
				<button type="submit" class="btn btn-danger" id="gdeed"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></button></span>
			</div>
			</div>
		</form>

		<form class="navbar-form" role="form" accept-charset="UTF-8" action="/users/upload" method="post">
			<div class="form-group">
			<input name="utf8" type="hidden" value="✓">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="File Path" name="path" id="path">
				<span class="input-group-btn">
				<button type="submit" class="btn btn-danger" ><span class="glyphicon glyphicon-upload" aria-hidden="true"></span></button></span>
			</div>
			</div>
			<div class="form-group">
				<span class="btn btn-danger btn-file">
    			Browse <input type="file" class="form-control" placeholder="Choose File" name="file" id="file">
				</span>
				<!--input type="file" class="form-control" placeholder="Choose File" name="file" id="file"-->
			</div>
		</form>
	</div>

	<script type="text/javascript">
		$('#gdeed').click(function() {
			location.reload();
		});
	</script>


	<div class="col-xs-9">
		<div id="lol">
			<ul class="list-group">
				<div>
					<% @metadata["contents"].each do |key, value| %>
						<li class="list-group-item">
							<% if (key["is_dir"]) %>
								<%= "<span class='glyphicon glyphicon-folder-open'></span>".html_safe %>
								<%= link_to key["path"][1..-1], dropbox_change_path(path: key["path"]), :remote => true %>
							<%else %>
								<%= "<span class='glyphicon glyphicon-file'></span>".html_safe %>
								<%= key["path"][1..-1]%>
								<%= link_to "[#{key["size"]} <span class='glyphicon glyphicon-cloud-download'></span>]".html_safe, dropbox_download_path(path: key["path"]), :target => "_blank"%>
							<%end%>
						</li>
					<%end%>
				</div>
			</ul>
		</div>
	</div>

</div>

<% unless params[:path] == '/' || params[:path] == nil %>
	<% new_path = params[:path][0..(params[:path].rindex(params[:path].split('/')[-1])) - 1 ] %>
	<%= link_to "Go back", dropbox_change_path(path: new_path) , remote: true%>
<% end %>