<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%if :title == "List"%>
      <style type="text/css">
        div.listdiv{
          background-color:#ff5555;
          color:white;
          font-size:35px;
          text-align: center;
          padding:10px;
        }

        td.try{
          border-right:0px solid white;
          border-left:0px solid white;
          border-bottom:0px solid white;
          border-top:0 solid white;
          background-color:#ff5555;
          color:black;
          text-align:left;
          font-size:20px;
        }
      </style>
    <%end%>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
     <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <!--%= render 'layouts/footer' %-->
    </div>
  </body>
</html> 